<%- include('/partials/Header.ejs', {title :'Dishes'}) %>
<body>

  <h1>Dishes</h1>

 <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>ImgURL</th>
    <th>price</th>
  </tr>


 </table>


 
</body>

</html>