<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dimbay's Steak House</title>
  <link rel="icon" href="/dimbays-website-favicon-color.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <!-- navigation bar nanti dibuat dinamis jika masih ada sisa waktu -->
  <header>
    <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/svg/logo-no-background.svg" width="150" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <!-- link Reservation disesuaikan dengan route-nya nanti -->
            <li class="nav-item">
              <a class="nav-link" href="/reservation">Reservation</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <!-- link Logout disesuaikan dengan route-nya nanti -->
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <div class="bg-dark text-white">
    <!-- section welcoming -->
    <div class="p-3 mb-2" style="margin-bottom: 50px;">
      <h1 class="text-center">Welcome to Dimbay's Steak House</h1>
    </div> 
    <!-- tampilan menu yang tersedia -->
    <div>
      <!-- looping data dishes di sini -->
      <% dishes.forEach(el => { %>
        <div>
          <!-- foto hidangan -->
          <img src="<%= el.imgURL %>" class="img-fluid">
          <div>
            <!-- nama hidangan -->
            <h5><%= el.name %></h5>
            <!-- deskripsi hidangan -->
            <p><%= el.description %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <!-- copyright dan nama para pembuat project di footer -->
  <footer>
    <!-- <div>
      <h6>This project was created by :</h6>
      <strong>Bayu Suryo Wibowo</strong><br>
      <strong>Dimas Hananto</strong>
    </div>
    <div>
      <h6>Disclaimer</h6>
      <p>We don't own these images.</p>
      <p>These images belongs to :</p>
      <p><a href="https://www.freepik.com/free-photo/grilled-beef-steak-dark-wooden-surface_14454667.htm#query=tenderloin%20steak&position=0&from_view=search&track=ais">Image by jcomp</a> on Freepik</p>
      <p><a href="https://www.freepik.com/free-photo/grilled-beef-steak-with-fries-grilled-tomato-pepper-sauces_8058187.htm#page=2&query=sirloin%20steak&position=8&from_view=search&track=ais">Image by KamranAydinov</a> on Freepik</p>
      <p>Image by <a href="https://www.freepik.com/free-photo/wine-glass-bottle-barrel_4884534.htm#query=Cabernet%20Sauvignon&position=10&from_view=search&track=ais">Freepik</a></p>
    </div> -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

