<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dimbay's Steak House</title>
</head>
<body>
  <!-- navigation bar nanti dibuat dinamis jika masih ada sisa waktu -->
  <header>
    <nav>
      <div>
        <a href="/">Logo</a>
        <div>
          <ul>
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
            <!-- link Reservation disesuaikan dengan route-nya nanti -->
            <li>
              <a href="/reservation">Reservation</a>
            </li>
            <!-- link Logout disesuaikan dengan route-nya nanti -->
            <li>
              <a href="/logout">Logout</a>
            </li>
              <% if (role == 'admin') { %>
            <li>
               <a href="/datareservation">Reservation Data</a>
            </li>
             <li>
               <a href="/dishes">Dishes Data</a>
            </li>
              <% } %>
          </ul>
        </div>
    </nav>
  </header>
  <!-- section welcoming -->
  <div>
    <h1>Welcome to Dimbay's Steak House</h1>
  </div>
  <!-- tampilan menu yang tersedia -->
  <div>
    <h2>Menu</h2>
    <div>
      <!-- foto hidangan -->
      <img src="">
      <div>
        <!-- nama hidangan -->
        <h5></h5>
        <!-- deskripsi hidangan -->
        <p></p>
      </div>
    </div>
  </div>
  <!-- copyright dan nama para pembuat project di footer -->
  <footer>
  
  </footer>
</body>
</html>

