<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dimbay's Steak House</title>
  <link rel="icon" href="/dimbays-website-favicon-color.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <!-- navigation bar nanti dibuat dinamis jika masih ada sisa waktu -->
  <header>
    <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/svg/logo-no-background.svg" width="150" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <!-- link Reservation disesuaikan dengan route-nya nanti -->
            <li class="nav-item">
              <a class="nav-link" href="/reservation">Reservation</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
          <!-- tidak perlu tombol Logout di Register Page -->
          </ul>
        </div>
    </nav>
  </header>
  <!-- form input register -->
  <div class="container" id="container-input">
    <h1>Register</h1>
    <% if (error) { %>
      <div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
        <strong><%= error %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>
    <form action="/register" method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Username :</label>
        <input type="text" name="username" class="form-control w-50">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email :</label>
        <input type="email" name="email" class="form-control w-50">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password :</label>
        <input type="password" name="password" class="form-control w-50" placeholder="Ex: abcd123#">
        <span id="passwordHelpInline" class="form-text">
          Must be 8 characters long, include number, & special expression.
        </span>
      </div>
      <!-- tidak perlu input role karena role otomatis menjadi "user" atau "customer" by Default -->
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <div style="margin-top: 20px;">
      <button onclick="location.href='/'" class="btn btn-danger">Cancel</button>
    </div>
  </div>
  <!-- copyright dan nama para pembuat project di footer -->
  <!-- <footer>
    
  </footer> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>