<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dimbay's Steak House</title>
</head>
<body>
  <!-- navigation bar nanti dibuat dinamis jika masih ada sisa waktu -->
  <header>
    <nav>
      <div>
        <a href="/">Logo</a>
        <div>
          <ul>
            <li>
              <a href="/register">Register</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
            <!-- link Reservation disesuaikan dengan route-nya nanti -->
            <li>
              <a href="/reservation">Reservation</a>
            </li>
            <!-- link Logout disesuaikan dengan route-nya nanti -->
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
  </header>
   <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>ImgURL</th>
    <th>price</th>
    <th>Action</th>
  </tr>
 
   <tr>
    <td><%= %></td>
    <td><%=  %></td>
    <td><img src="" alt=""></td>
    <td> </td>
    <td>
      <a href="/dishes/<%= %>/delete"><button>Delete</button></a>
    </td>
   </tr>
 



 </table>
  </body>
  
</html>